extends layout.pug

block content
	h1 Справка по использованию бота
	p(align="center")
		a(href="/") Вернуться к карте
	p Всем нам нравится играть с друзьями в игры. Но часто очень трудно договориться о встрече, назначить дату, место и состав.
		| Особенно трудно это сделать при игре в риичи-маджонг, так как нужно собрать минимум 4 человека для игры.
		| Для этой цели используются различные технологии: форумы, сайты, WhatsApp, Telegram, обзвон по телефонам.
	p Чтобы стало немного полегче планировать был написан небольшой&nbsp;
		a(href="https://t.me/TsumoIRLbot") @TsumoIRLbot.
	p Возможности бота
		ul
			li регистрация новых игроков
			li смена ника
			li просмотр списка городов
			li добавление своего города (название, временная зона)
			li просмотр мест встреч в городе
			li добавление новых мест для встреч
			li подробное описание места встречи (название, адрес, местоположение на карте)
			li просмотр встреч в выбранном месте (место, дата, время, список игроков, их готовность собраться)
			li добавление новых встреч (место, дата, время)
			li запись на встречу, изменение статуса своей готовности сыграть
			li оповещение игроков о предстоящих встречах, на которые он записался
			li оповещение игроков о изменении статуса игроков своих встреч
			li подписка о добавлении новых встреч
	p Пока не реализовано
		ul
			li возможность оценить прошедшую встречу
	h2 Как это работает
	img.rightphoto(src="/img/bot1.png")
	p Нужно первым делом зайти на бота, это обязательно :)
	p Для полного доступа к возможностям нужно зарегистрироваться, для этого нужно установить ник нажав соответствующую кнопку.
		br
		| Зарегистрированным игрокам доступны дополнительные кнопки, кроме&nbsp;
		b Справка&nbsp;
		| и &nbsp;
		b Сменить ник:&nbsp;
		img.rightphoto(src="/img/bot2.png")
		ul
			li Города - выводится список доступных городов
			li Места - выводится список мест встреч города по умолчанию (если он был ранее установлен)
			li Настройки - список доступных настроек (оповещения, таймаут)
	p
		h3 Кнопка "Города"
		| Выводится список городов, в которых планируются игровын встречи. Если выбран город по умолчанию, 
		| то он отмечается в списке звездочкой. При нажатии на название города мы переходим к списку
		| мест встречи этого города.
		br
		| Так же в конце списка есть кнопка для добавлению нового города (<b>Добавить город</b>).
		div.center
			img.photo(src="/img/bot3.png")
			img.photo(src="/img/bot4.png")
		| При добавлении нового города запрашивается название и часовой пояс относительно UTC. Смещение от UTC необходимо
		| для корректного оповещения о событиях.
	p
		| При нажатии кнопки "<b>Встречи в городе XXXXX</b>" нам выводится список мест, в которых планируются игровые встречи.
		div.center
			img.photo(src="/img/bot5.png")
			img.photo(src="/img/bot6.png")
